<div class="product-hero_dropdown_toggle">
                    <div>Delivery Information</div>
                    <div class="product-hero_dropdown-toggle_icon">+</div>
                  </div>
                  <div class="product-hero_dropdown_navigation">
                    <div li-object="product.metafields.custom.delivery_information" class="product-hero_dropdown_paragraph w-richtext">{{ product.metafields.custom.delivery_information | metafield_tag }}</div>
                  </div>
