<div class="blog_wrapper">
          <div class="padding-global">
            <div class="blog_layout">
              <div li-settings="article" class="blog_item">
</div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Blog",
    "class": "blog_section",
    "settings": [
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Explore More"
        },
        {
            "id": "url_link",
            "type": "url",
            "label": "Link"
        }
    ],
    "presets": [
        {
            "name": "Blog",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}