<div class="cask-options_wrapper">
          <div class="cask-options_layout">
            <h2 data-stagger="0.05" balmaud-animation="split-fade-in" id="w-node-_50fa139b-c3a7-ae04-24e7-fd64e7fa1a81-777000c8" class="journey_heading text-color-alternate">Cask options & pricing</h2>
            <div id="w-node-e946440b-cedc-1cc6-83b8-417440e4a2cd-777000c8" class="cask-options_paragraph_wrapper">
              <p balmaud-animation="fade-in" class="cask-options_paragraph">We are offering a limited release of first-fill casks from the earliest days of distillation at Balmaud. Each cask is stored on-site at our bonded warehouse, located on the land where the barley was grown — a true single estate spirit.<br></p>
              <p balmaud-animation="fade-in" class="cask-options_paragraph">All casks will be filled with new make spirit on-site, with full traceability and ongoing support from our distilling team. Packaging and bottling options are available as the cask approaches maturity.</p>
            </div>
            <div id="w-node-_6254e4f0-25d1-7282-ed1c-3d35ceaf54e8-777000c8" class="cask-options_items-layout">
              <div balmaud-animation="fade-in" class="cask-options_item">
                <h3 class="journey_item_heading">Cask Type</h3>
                <p id="w-node-_50fa139b-c3a7-ae04-24e7-fd64e7fa1a86-777000c8" class="journey_item_paragraph">First Fill American Oak, Ex-Bourbon Barrel</p>
              </div>
              <div balmaud-animation="fade-in" class="cask-options_item">
                <h3 class="journey_item_heading">Cask Size</h3>
                <p id="w-node-_8a4b67ae-9d1d-6a87-1770-89f98077db60-777000c8" class="journey_item_paragraph">Standard Barrel (Approximately 200L) </p>
              </div>
              <div balmaud-animation="fade-in" class="cask-options_item">
                <h3 class="journey_item_heading">ABV & Fill</h3>
                <p id="w-node-_47559588-01d8-45f1-7948-31586cbb0121-777000c8" class="journey_item_paragraph">Approximately 63.5%</p>
              </div>
              <div balmaud-animation="fade-in" class="cask-options_item">
                <h3 class="journey_item_heading">STORAGE PERIOD</h3>
                <p id="w-node-be0f875e-1b62-c107-497e-cc98ed867d68-777000c8" class="journey_item_paragraph">Up to 8 years in bond at Balmaud Distillery, Turriff AB53 5PT (extensions available upon request)</p>
              </div>
              <div balmaud-animation="fade-in" class="cask-options_item">
                <h3 class="journey_item_heading">Cask Buy Back</h3>
                <p id="w-node-cb2ff61e-9eb7-b793-192f-c8460f9d4236-777000c8" class="journey_item_paragraph">Option of cask buy back available, to be agreed with distillery</p>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Cask Options",
    "class": "cask-options_section",
    "presets": [
        {
            "name": "Cask Options",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}