<div class="default-page_wrapper">
          <div class="default-page_layout">
            <h1 li-object="page.title" id="w-node-_87ea075c-f7b1-78ca-bead-6af8e712ec3b-375db787" class="default-page_heading">{{ page.title }}</h1>
            <div li-object="page.content" id="w-node-_47ca7c57-c35a-75d9-a951-117c29537e21-375db787" class="no-trim w-richtext">{{ page.content }}</div>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Default",
    "class": "default-page_section padding-global",
    "presets": [
        {
            "name": "Default",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}