<div class="padding-global">
          <div class="container-large"></div>
        </div>
        <div class="hero_grid-text_layout">
          <div class="hero_grid-text_text">Modern<br>Spirits</div>
          <div class="hero_grid-text_text">Bottled<br>in Turriff</div>
          <div class="hero_grid-text_text">Product<br>of Scotland</div>
          <div class="hero_grid-text_text">Proudly<br>by Balmaud</div>
        </div><video src="https://dl.dropbox.com/scl/fi/z1e1urrnd8fsgfwnq4h1h/BD_WEBSITE_HEADER.mp4?rlkey=r6x1v6w0s1imzmuoidnh1u2ln&dl=0" autoplay="true" loop="" muted="" playsinline="" class="hero_background-content"></video>
        <div class="holding-hero_bottom_layout">
          <h2 id="w-node-_1208bfaf-9079-4103-988d-6b732345e5f4-946dd46a" class="holding-hero_bottom_heading">NEW SCHOOL DISTILLERS<br>OLD SCHOOL FARMERS</h2>
          <div id="w-node-_1208bfaf-9079-4103-988d-6b732345e5f8-946dd46a" class="holding-hero_form_wrapper">
            <h1 class="holding-hero_form_heading">This page has slipped off the map</h1>
            <div class="holding-hero_form_paragraph">The link you followed doesn’t lead anywhere. You can head back to the homepage, or return to the last page you were on and try again.</div>
            <a id="w-node-f0330c79-592f-64c7-8463-c4f62e577b27-2e577b27" data-wf--button--variant="base" href="{{ section.settings.url_link }}" class="button w-button"> {{ section.settings.text_button_text }} </a>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Holding-Hero",
    "class": "section_holding-hero",
    "settings": [
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Home"
        },
        {
            "id": "url_link",
            "type": "url",
            "label": "Link"
        }
    ],
    "presets": [
        {
            "name": "Holding-Hero",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}