<div class="landing-page_header-wrapper">
          <div class="landing-page_header-layout">
            <div class="landing-page_header padding-global hide-tablet">
              <div class="landing-page_text">Vera Wang ready to wear launching 2026</div>
              <div class="landing-page_links-layout">
                <a href="https://www.instagram.com/verawang/" target="_blank" class="landing-page_link">Instagram</a>
                <div class="vertical-dividing-line"></div>
                <a href="#" class="landing-page_link">X</a>
                <div class="vertical-dividing-line"></div>
                <a href="https://www.tiktok.com/@verawang" target="_blank" class="landing-page_link">Tiktok</a>
              </div>
            </div><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 1876 247" fill="none" class="landing-page_logo">
              <g clip-path="url(#clip0_333_82)">
                <path d="M431.975 164.582C421.349 183.751 411.744 199.73 385.765 217.015C372.003 226.199 343.652 236.599 327.009 236.54C327.009 236.54 315.572 236.599 308.834 228.172C304.842 223.187 302.095 217.416 302.095 209.76V115.577H332.351C337.949 115.533 353.393 119.153 361.782 129.642C367.665 137.149 373.113 147.431 373.203 168.484H379.296V61.7349H373.969C373.413 81.0967 363.448 95.9778 353.813 103.619C349.851 106.378 341.716 110.785 332.306 111.2H302.095V26.2309C302.095 15.4298 314.897 5.0442 330.355 5.07387C351.982 5.19256 372.573 11.8394 387.236 23.3526C399.032 32.6403 406.461 47.1802 412.854 63.4411H417.942L415.466 1.09766H240.277V5.29642C261.649 6.97296 264.215 25.771 264.215 30.9044V211.214C264.215 216.332 262.579 232.549 240.277 237.015V241.154H420.148L437.032 166.2L431.945 164.612L431.975 164.582Z" fill="currentColor"></path>
                <path d="M964.009 47.7588C960.257 36.4978 961.187 29.5988 966.71 20.7859C976.18 5.71185 990.903 5.22224 990.903 5.22224V1.09766H892.105V5.31126C892.105 5.31126 907.909 2.83354 921.311 37.2693L993.455 241.139H999.022L1052.36 60.0287L1112.92 241.139H1118.85C1118.85 241.139 1180.36 72.7882 1194.86 37.2693C1208.83 3.07093 1224.62 5.31126 1224.62 5.31126V1.09766H1163.04V5.22224C1170.49 5.47446 1178.73 7.06198 1183.28 12.1064C1193.57 23.5158 1186.19 41.4978 1185.29 44.1387L1133.85 182.49C1127.88 164.79 1071.78 10.875 1068.51 1.09766H1068.58H1063L1009.45 182.49L963.994 47.7588H964.009Z" fill="currentColor"></path>
                <path d="M773.948 1.09766C773.948 1.09766 705.182 169.478 690.399 204.997C688.658 209.196 686.662 212.89 684.876 216.184C681.379 221.807 673.32 234.596 665.14 238.498C664.135 239.018 659.422 240.234 656.796 240.19C639.852 240.546 629.676 218.469 622.713 201.659L612.927 177.817C600.351 147.609 585.403 125.25 567.333 116.571C583.827 116.259 598.685 116.081 611.066 110.117C627.275 102.269 635.154 85.7406 635.154 64.5242C635.154 47.9962 627.38 31.8095 613.768 20.0143C599.765 7.83348 580.435 1.20151 559.409 1.09766H458.66V5.29642C480.032 6.97296 482.613 25.771 482.613 30.9044V211.199C482.613 216.318 480.977 232.549 458.66 237V241.154H544.206V237C521.904 232.549 520.268 216.318 520.268 211.199V116.808H536.177C547.132 116.808 554.201 122.372 565.112 149.805L579.79 187.282C588.689 210.294 608.545 246.703 645.69 247H645.765C657.921 247 667.256 242.415 669.463 241.258L729.78 241.139V237.059C722.186 236.807 707.898 235.843 702.12 229.315C691.839 217.697 698.578 200.769 699.494 198.143L716.873 155.22H801.923L816.496 194.523C820.248 205.784 819.317 212.683 813.794 221.496C804.324 236.57 789.617 237.059 789.617 237.059V241.139H884.182V236.955C884.182 236.955 867.808 239.433 854.406 204.997L779.711 1.09766H773.933H773.948ZM554.036 112.847H520.253V30.8896C520.253 28.6938 520.718 24.0351 522.909 19.2577C530.594 4.51008 551.35 5.42995 551.35 5.42995C579.099 5.56348 596.088 28.7383 596.178 63.5005C596.178 63.5005 596.704 93.1737 579.279 105.8C573.096 110.28 563.341 112.832 554.051 112.832M725.082 134.879L754.258 63.4856L761.402 45.9933L794.374 134.879H725.082Z" fill="currentColor"></path>
                <path d="M164.112 1.09766V5.22224C171.707 5.47446 180.096 7.06198 184.718 12.1064C195.224 23.5158 187.69 41.4978 186.775 44.1387L125.242 195.339C122.195 187.401 71.4831 55.192 68.9618 47.7737C65.1497 36.4978 66.0802 29.6136 71.7232 20.8007C81.3734 5.72668 96.3814 5.23707 96.3814 5.23707V1.09766H0V5.31126C0 5.31126 16.6889 2.83354 30.3462 37.2693C45.2341 74.8505 108.673 241.139 108.673 241.139H112.95C112.95 241.139 181.957 72.8772 196.53 37.2693C210.157 3.94629 226.861 5.31126 226.861 5.31126V1.09766H164.112Z" fill="currentColor"></path>
                <path d="M1564.46 1.09766V5.34093C1575.96 5.57831 1584.56 9.16878 1591.21 14.8809C1599.75 22.2695 1605.07 33.7679 1605.07 50.1624V185.042L1468.67 1.09766H1407.21V5.32609C1415.31 5.60799 1422.94 8.17472 1430.11 14.2577C1436.91 20.0143 1439.1 27.8778 1439.1 34.8213V192.089C1439.1 208.484 1433.76 219.967 1425.22 227.371C1418.62 233.068 1410.06 236.644 1398.65 236.911C1395.86 236.881 1381.01 235.264 1369.34 204.997L1294.66 1.09766H1288.89C1288.89 1.09766 1205.1 205.546 1204.98 205.828C1203.31 209.686 1199.35 218.662 1190.81 229.107C1182.27 237.89 1175.56 236.97 1175.56 236.97V241.154H1244.72V237.074C1237.12 236.822 1222.82 235.857 1217.06 229.329C1206.76 217.712 1213.52 200.784 1214.43 198.158L1231.8 155.235H1316.85L1331.43 194.537C1335.17 205.798 1334.26 212.698 1328.72 221.51C1319.25 236.584 1304.52 237.074 1304.52 237.074V241.154H1486.02V236.941C1474.53 236.703 1465.92 233.113 1459.29 227.401C1450.73 220.012 1445.4 208.514 1445.4 192.119V38.8717L1600.75 241.139H1611.38V50.1772C1611.38 33.7827 1616.72 22.2992 1625.26 14.8957C1631.89 9.16878 1640.51 5.57831 1651.99 5.35577V1.09766H1564.43H1564.46ZM1240.05 134.879L1269.21 63.4856L1276.37 45.9933L1309.34 134.879H1240.05Z" fill="currentColor"></path>
                <path d="M1852.77 154.212C1852.77 149.093 1854.48 132.862 1876 128.411V124.286H1780.89V128.411C1791.98 128.633 1801.38 131.363 1807.79 137.09C1816.03 144.494 1815.83 156.838 1815.83 173.232V187.98C1815.83 187.98 1817.35 224.152 1786.63 236.08C1752.35 249.418 1724.01 235.086 1704.53 199.419C1685.07 163.767 1693.91 79.7171 1700.32 59.1091C1706.71 38.4862 1717.18 8.85746 1756.13 6.27589C1795.08 3.69432 1822.29 41.6464 1827.75 49.3763C1833.2 57.1061 1842.49 70.192 1846.67 80.7557L1851.37 79.1682L1838.42 0C1838.42 0 1824.88 6.12752 1805.13 5.99399C1785.4 5.84563 1771.17 0.0445099 1754.82 0.979217C1738.5 1.91392 1716.91 6.85452 1692.14 30.0441C1667.36 53.2338 1653.19 96.4825 1655.23 133.129C1657.27 169.775 1673.48 207 1698.26 225.62C1723.04 244.226 1748.09 249.671 1776.12 244.507C1804.17 239.359 1816.97 229.908 1831.12 226.051C1845.28 222.178 1847.99 221.036 1859.3 220.324L1859.43 215.606C1859.43 215.606 1852.72 214.315 1852.72 185.962V154.212H1852.77Z" fill="currentColor"></path>
              </g>
            </svg>
            <div class="landing-page_form-wrapper">
              <div id="w-node-ebf837b0-c339-6f5d-e3aa-1ae62328a57a-4c01d569" class="landing-page_heading-left_wrapper">
                <div class="landing-page_heading-left">
                  <h1 class="landing-page_heading">
{{ section.settings.text_heading }}
</h1>
                  <p class="landing-page_subheading">
{{ section.settings.text_subheading }}
</p>
                  <div class="show-mobile-portrait">
                    <div class="margin-top margin-medium">
                      <div class="landing-page_detail-text">Ready to wear launching 2026</div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="w-node-_72c939bc-c0eb-1887-549c-fa24e63807dd-4c01d569" class="landing-page_form_wrapper">
                <div class="landing-page_form-component w-form">
                  <form id="wf-form-Landing-Page-Form" name="wf-form-Landing-Page-Form" data-name="Landing Page Form" redirect="/success" data-redirect="/success" action="https://webflow-make-proxy.david-4de.workers.dev/" method="post" class="landing-page_form_layout" data-wf-page-id="68e64e2110c96efd4c01d569" data-wf-element-id="f9b45c1e-575c-da9d-fd39-ae1e68bda131"><input class="landing-page_form_input w-input" maxlength="256" name="Name" data-name="Name" placeholder="Name" type="text" id="Name" required=""><input class="landing-page_form_input w-node-_6b13f435-0c72-0904-09fb-6ddb30abdbe0-4c01d569 w-input" maxlength="256" name="email" data-name="Email" placeholder="Email" type="email" id="email" required=""><input class="landing-page_form_input w-node-f9b45c1e-575c-da9d-fd39-ae1e68bda137-4c01d569 w-input" maxlength="256" name="Location" data-name="Location" placeholder="City" type="text" id="Location" required="">
                    <div id="w-node-_66a8606f-9021-01b9-59ba-5000b65e1db8-4c01d569">
                      <div class="margin-top margin-small show-mobile-portrait"></div><input type="submit" data-wait="Please wait..." class="landing-page_form_button w-button" value="Sign-Up">
                    </div>
                    <div id="w-node-_0c3df9fa-4c46-1afd-b748-486585b194fb-4c01d569" class="w-embed">
                      <div class="cf-turnstile" data-sitekey="0x4AAAAAACE8PK26-2h1O331"></div>
                    </div>
                  </form>
                  <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                  </div>
                  <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                  </div>
                </div>
                <div class="socials_wrapper">
                  <h2 class="socials_heading">Follow the Journey</h2>
                  <div class="socials_layout">
                    <a href="https://www.instagram.com/verawang/" target="_blank" class="socials_link">Instagram</a>
                    <div class="socials_link">X</div>
                    <a href="https://www.tiktok.com/@verawang" target="_blank" class="socials_link">Tiktok</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="landing-page_footer-wrapper">
              <div class="landing-page_footer padding-global">
                <div class="landing-page_text">Copyright 2025 Vera Wang. All Rights Reserved</div>
                <div class="landing-page_text">Operated by batra Group Limited. <a href="https://toogallus.com" target="_blank">Designed and developed by Too Gallus Limited</a>
                </div>
                <div class="landing-page_text show-tablet">Operated by Batra Group Ltd.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="landing-page_split-background">
          <div class="split-background-white"></div>
          <div class="split-background-black"></div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Landing Hero",
    "class": "landing-page_header-section",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Join The Wait"
        },
        {
            "id": "text_subheading",
            "type": "text",
            "label": "Subheading",
            "default": "26\/Collection Coming Soon"
        }
    ],
    "presets": [
        {
            "name": "Landing Hero",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}