<div class="w-embed w-script">
          <script>
  document.addEventListener("DOMContentLoaded", function () {
    // Get the slug dynamically from the URL
    const slug = window.location.pathname.split("/").pop();
    // Construct the API URL
    const apiUrl = `https://x8ki-letl-twmt.n7.xano.io/api:LKU_dBdO/balmaud_qr_codes?uuid=${slug}`;
    // Open the vCard in a new tab instead of forcing download
    window.location.href = apiUrl; 
    setTimeout(()=>{
    window.location.href = "https://balmauddistillery.co.uk";
    }, 2000)
  });
</script>
        </div> {% schema %} {
    "tag": "div",
    "name": "Shannon Green",
    "presets": [
        {
            "name": "Shannon Green",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}